<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{active: router.url == '/home'}">
        <a class="nav-link" routerLink="/home">Dashboard</a>
      </li>
    </ul>
    <span class="navbar-text">
      {{ currentUser.first_name }} {{ currentUser.last_name }}
    </span>
    <a class="nav-link" href (click)="logout()">Logout</a>
  </div>
</nav>

<!-- breadcrumb -->
<nav aria-label="breadcrumb" *ngIf="currentUser">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" *ngFor="let item of breadcrumbList; let i = index"
      [class.active]="i === breadcrumbList.length-1">
      <a [routerLink]="item.path" *ngIf="i !== breadcrumbList.length-1">
        {{ item.name }}
      </a>
      <span *ngIf="i === breadcrumbList.length-1">{{ item.name }}</span>
    </li>
  </ol>
</nav>

<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <alert></alert>
  </div>
</div>
<router-outlet></router-outlet>
